<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EjemploCRUDLibros.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <EjemploCRUDLibros.Properties.Settings>
            <setting name="CadConexion" serializeAs="String">
                <value>Server=URCOC\SQLEXPRESS;Database=Biblioteca;User Id=sa;Password=sa;</value>
            </setting>
            <setting name="segundaCDA" serializeAs="String">
                <value>Server=DESKTOP-9TSOK8M\SQLEXPRESS;Database=Biblioteca;Trusted_Connection=True;</value>
            </setting>
        </EjemploCRUDLibros.Properties.Settings>
    </applicationSettings>
</configuration>